<!DOCTYPE html>
<html>
<head>
    <title>Registrazione</title>
</head>
<body>
    <h1>Registrazione</h1>
    <form action="/registration" method="POST">
        <label for="username">Nuovo username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="pass">Inserisci password:</label>
        <input type="password" id="pass" name="pass" required><br><br>
        <label for="pass2">Inserisci di nuovo la password:</label>
        <input type="password" id="pass2" name="pass2" required><br><br>
        <label for="deposit-amount">Cifra da versare:</label>
        <input type="number" id="deposit-amount" name="deposit-amount" required><br><br>
        <input type="submit" name="submit_button" id="submit_button" value="Registrati">
    </form>
</body>
</html>